* {
  max-width: 100%;
  margin: 0 auto;

}
/* ALL  CSS*/
.container {
  padding: 0px;
  box-sizing: border-box;
}
/* HEADER CSS */

header{
  line-height: 36px;
  background-color: #F5F5F2;
  text-align: center;
}
header .logo1 img{
  width: 32x;
  height: 32px;
  
  
}
header .logo1{
  width: 30px;
  height: 30px;
  margin-left: 0px;
}
 /*  BOX MENU-LOGO*/
.logo-menu1{
  width: 92%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 /*  BOX MENU-LOGO*/
.menu1 {
 margin-right: 0px;
}
.menu1 a {
  padding-right: 0px;
  font-size: 12px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.menu1 span{
  padding-right: 5px;
}
.menu1 a :hover {
  text-decoration: underline;
}

 /*  MENU NAV 2*/

nav{
  width: 92%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  height: 60px;
  text-align: center;
}
.logo2 img{
  padding: 0px;
  width: 250px;
  object-fit: cover;
 
}
.logo2{
margin-left: 0px;
}

nav .logo2{
 
  width: 250px;
  height: 60px;
 
}
.box-3{ 

  width: 100%;
  height: 60px;
  margin-right: 0px;
}

nav .box-3{
  display: flex;  justify-content: center;
}
.box-2 {
height: 60px;
width: 100%;

}
.box-2 ul{
  padding-left: 0px;
  display: flex;
  line-height: 60px;
 
}

.box-2 ul li {
 list-style: none;
 
}

.box-2  a {
  height: 26px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.box-2  a:hover {
border-bottom: 3px solid #111111;
}

nav .logo1{
  width: 30px;
  height: 30px;

}


nav img{
 
  width: 60px;
  height: 60px;

} 
.iconhiden{
  display: none;
}
.search_bar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-right: 0px;
 
}
.giohang{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-right: 0px;
}
.search_bar form {
  position: relative;
  
}
.search_bar form input {
    width: 120px;
    height: 30px;
    background: none;
    border-radius: 30px;
    font-size: 16px;
    border: 1px solid #ddd;
  padding: 0 0px 0 50px;
}
.search_bar form button {
    border-radius: 30px;
    position: absolute;
    left: 0;
    background: none;
    border: 0;
    font-size: 25px;
    color: #333333;
    line-height: 30px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    top: 0;
}
.search_bar form button:hover{
    background: black;
    color: #fff;
}
.box-2-1{
  display: none;
}

.icon{
border-radius: 100%;
padding-left: 10px;

}
.icon i{

color: #111111;
width: 30px;
line-height: 30px;
font-size: 24px;
}
.icon i:hover{
background: black;
border-radius: 100%;
color: white;
}

.content{
text-align: center;
background-color:  #F5F5F2;
height: 60px;
}
.content a{
 color: black;
  }
h4{
padding-top: 10px;
}
p{
padding-top: 5px;
}
.banner{
width: 92%;
text-align: center;
}
.banner img {
object-fit: cover;
}
.content2{
margin-top: 50px;
text-align: center;
}
.nextt{
margin-top: 10px;

}
.button1{
  opacity: 1;
border: none;
width: 100px;
color: white;
background-color: black;
border-radius: 40px;
height: 40px;
}
.button1:hover{
  border: none;
  width: 100px;
  color: white;
  background-color: black;
  opacity: 0.6;
  border-radius: 40px;
  height: 40px;
  }
main{
width: 92%;
}
main h2{
padding-left: 4%;
}

.trending{
display: flex;
overflow-x:scroll;
margin-top: 30px;

}
.col1{
width: 30%;
padding-right:10px ;
padding-left: 10px;
flex: 0 0 auto;
}
.trending::-webkit-scrollbar {
width: 10px;
}

.trending::-webkit-scrollbar-track {
background-color: #e4e4e4;
border-radius: 100px;
}

.trending::-webkit-scrollbar-thumb {
background-color: #ccc;
border-radius: 100px;
}

footer{
margin-top: 50px;
height: 100%;
background-color: #111111;
color: white;

}
.footercon{
  padding: 40px 0px 20px 7%;
}
.thongtin{
width: 92%;
justify-content: center;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}
.thongtin1{
margin-top: 30px;
margin-left: auto;
}
.thongtin1 h3{
padding-top: 10px;
}
.thongtin1 p{
padding-top: 140px;
}
.thongtin1 li{
padding-top: 10px;
list-style: none;
}
.thongtin1 li a {
color: #747E7E;

text-decoration: none;
}
.thongtin1 li a:hover{
color: white;
}

.icon2 button{
border-radius: 50px;
padding: 10px;
background-color: #747E7E;
}
.icon2 button:hover {
background-color: white;
}
.icon2{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 20px;
}
.box-all {
  display: none;

}
.menu2-1{
  display: none;
  position:fixed;
  z-index: 1;
  width: 100%;
  height: 400px;
  overflow: auto;
  background-color:white;
}
.menu2-1 ul li{
 list-style: none;
}
.menu2-1 ul li a{
  text-decoration: none;
  color: #111111;
  padding-left: 500px;
 }