
@media only screen and (min-width: 480px) and (max-width: 767px) {
    header{
        line-height: 36px;
        display: flex;
        justify-content: space-between;
        background-color: #F5F5F2;
        display: none;
      }

      nav{
        width: 92%;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        height: 60px;
        text-align: center;
      }
      .box-2 {
        display: none;
        
      }
      nav .logo2{
        width: 200px;
        height: 60px;
       
      }
      .logo2 img{
        width:200px;  
        object-fit: cover;
       
      }
      .timkiem{
        display: none;
       
       
      }
    .iconhiden{
        display: block;

    }
    .iconhiden{
        border-radius: 100%;
        padding-left: 10px;
        
        }
        .iconhiden i{
        
        color: #111111;
        width: 30px;
        line-height: 30px;
        font-size: 24px;
        }
        .iconhiden i:hover{
        background: black;
        border-radius: 100%;
        color: white;
        }
    .box-2-1{
        display: block;
        width: 40px;
        height: 25px;
    
    }
    .search_bar form input {
        width: 80px;
    }
    .box-2-1 img{
        padding-left: 1px;
        object-fit: cover;
        width: 40px;
        height: 25px;
    
    }
    .box-2-1 button{
       background-color: white;
       border: none;
    }
    .thongtin{
        width: 92%;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr;
        }
    .thongtin1{
            margin-top: 30px;
            text-align: center;

            }
        .khung{
            background-color: #fff;
            width: 60%;
            margin-right: 0px;
            height: 100%;
        }
        .khung button{
           border: none;
           background-color: #fff;
           border-radius: 100%;
           width: 30px;
           line-height: 30px;
           color: black;
           font-size: 24px;
        }
        .close{
            margin-right: 20px;
        }
        .khung button:hover{
            
            background-color: #ccc;
            
         }
         .box-all{
            display: block;
         }
        .box-2-1-2 {
            display: none;
            position:fixed;
            z-index: 1;
            width: 100%;
            height: 100%;
            overflow: auto;
          
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
}
          
          
          .close{
            display:grid;
            width: 90%;
            
          }
          .close button{
           margin-right: 0px;
           margin-top: 10px;
          }
         
          .box-2-1-2 ul{       
           height: 120px;
          }
          .box-2-1-2 ul li{
            border-bottom: 1px solid black;
            display: grid;
            grid-template-columns: 1fr 1fr;
            list-style: none;
            margin-top: 20px;
          }
          .box-2-1-2 ul li button{
            margin-right: 15%;
          }
          .box-2-1-2 ul li a{
            margin-left: 0px;
            width: 80%;
            font-size: 20px;
            color: black;
            text-decoration: none;
          }
<<<<<<< HEAD
         
}
=======

>>>>>>> c03400496ce6ec91ae067c13852a9dc9fbbe4b50
