*{
  max-width: 100%;
margin: 0 auto;
box-sizing: border-box;
font-family: 'Times New Roman', Times, serif;
}
.logoadmin img{
height: 250px;
width: 250px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color:black;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
overflow-y: auto;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
header{
  height: 60px;
  background: #000000;;
  display: flex;
  color: #818181;
  justify-content: space-between;
  align-items: center;
}
#close{
  margin-left: 300px;
}
#open{
  margin-left: 150px;
}
#mySidenav::-webkit-scrollbar {
  width: 5px;
  }
  
#mySidenav::-webkit-scrollbar-track {
  background-color: #ccc;

  }
  
#mySidenav::-webkit-scrollbar-thumb {
  background-color: #ee243c;

  border-radius: 100px;
  }
.sidenav {
height: 100%;
width: 250px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color:black;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
overflow-y: auto;
}
.sidenav i{
  padding-right:5px;
}
.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;}

.row{
  width: 100%;
  display: grid;
  background-color: rgb(206, 206, 206);
  justify-content: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
  border-radius: 12px 12px 0 0;
  margin-bottom: 50px;
}

td,
th {
  padding: 10px 16px;
  text-align: center;
}

th {
  background-color: #ee243c;
  color: #fafafa;
  font-family: 'Open Sans', Sans-serif;
  font-weight: bold;
}

tr {
  width: 100%;
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}


form input[type=text],
form input[type=reset],
button,
form input[type=submit] {
  
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  
}


  form input[type=text]:focus,
  select:focus
  {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}


form input[type=submit]{
  background-color:#3B82F6;
  color: white;
}
/*  input[type=button]{
  background-color: #ff0000;
  border: none;
  color: #fff;
  height: 20px;
  border-radius: 5px;
}
 */
label {
  position: relative;
  display: inline-block;
 
}
  
  select {
   
    padding: 0 30px 0 10px;

    border: 1px solid #e0e0e0;
    border-radius: 4px;
    line-height: 40px;
    height: 38px;
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 4px;
    min-width: 200px;
    margin-bottom: 10px;
  }


select::-ms-expand {
  display: none;
}
.blu{
  background-color:#3B82F6;
  color: #fff;
  border: none;
}
.re{
  background-color:#ee243c;
  color: #fff;
  border: none;
}
.we{
  color: #000000;
  background-color: #fff;
  border: none;
}
.gr{
  
  background-color:#0de589;
  color: #fff;
  border: none;
}
.blu:hover,
.gr:hover,
.re:hover,
.we:hover{
  opacity: 0.5;
  transform: scale(1.2);

}
.mrbut{
margin-bottom: 30px;
}
.fl{
  display: flex;
}